<section class="contact">
  <div class="container">
    <div class="main-title">
      <h3 class="main-title__topic">Let’s Discuss</h3>
      <span class="main-title__heart main-title__heart--grey"><i class="icon-heart-empty"></i></span>
    </div>
    <p class="contact__descr">
      Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    </p>
    <div class="contact__form">
      <h5 class="contact__form-title">Say hello!</h5>
      <form>
        <div class="contact__row">
          <input class="contact__input" type="text" placeholder="Name">
          <input class="contact__input" type="email" placeholder="Email">
        </div>
        <div class="contact__row">
          <textarea class="contact__textarea" cols="1" rows="1" placeholder="Message"></textarea>
        </div>
        <div class="contact__row">
          <button class="contact__submit-btn icon-envelope-o" type="submit">Send message</button>
        </div>
      </form>
    </div>
  </div>
</section>