<section class="facts">
  <div class="container">
    <div class="main-title">
      <h3 class="main-title__topic">Some Fun Facts</h3>
      <span class="main-title__heart main-title__heart--grey"><i class="icon-heart-empty"></i></span>
    </div>
    <div class="facts__list">
      <div class="facts__item">
        <a class="facts__about facts__about--clock" href="#">3200<span>Hours of Work</span></a>
      </div>
      <div class="facts__item">
        <a class="facts__about facts__about--people" href="#">120<span>Satisfied Clinets</span></a>
      </div>
      <div class="facts__item">
        <a class="facts__about facts__about--rocket" href="#">360<span>Projects delivered</span></a>
      </div>
      <div class="facts__item">
        <a class="facts__about facts__about--cup" href="#">42<span>Awards Won</span></a>
      </div>
    </div>

  </div>
</section>