<section class="features">
  <div class="container">
    <div class="main-title">
      <h3 class="main-title__topic">Features</h3>
      <span class="main-title__heart main-title__heart--grey"><i class="icon-heart-empty"></i></span>
    </div>
    <div class="features__items">
      <div class="features__item">
        <h6 class="features__title">
          <a class="icon-feather" href="#">Branding</a>
        </h6>
        <p class="features__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        </p>
      </div>
      <div class="features__item">
        <h6 class="features__title">
          <a class="icon-pencil" href="#">Development</a>
        </h6>
        <p class="features__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        </p>
      </div>
      <div class="features__item">
        <h6 class="features__title">
          <a class="icon-megaphone" href="#">Consulting</a>
        </h6>
        <p class="features__description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        </p>
      </div>
    </div>
  </div>
</section>