<section  class="slider">
  <div class="slider__slide">
    <img class="slider__image" src="uploads/slide-pic.jpg" alt="slider-pic" width="1600" height="510">
    <h2 class="slider__title">Meet Brandi!</h2>
    <h3 class="slider__subtitle">creative one page template.</h3>
    <span class="slider__under-subtitle">We are a team of professionals</span>
  </div>
  <div class="slider__slide">
    <img class="slider__image" src="uploads/slide-pic.jpg" alt="slider-pic" width="1600" height="510">
    <h2 class="slider__title">Lorem ipsum</h2>
    <h3 class="slider__subtitle">Lorem ipsum dolor sit.</h3>
    <span class="slider__under-subtitle">Lorem ipsum dolor sit amet.</span>
  </div>
  <div class="slider__slide">
    <img class="slider__image" src="uploads/slide-pic.jpg" alt="slider-pic" width="1600" height="510">
    <h2 class="slider__title">Lorem test</h2>
    <h3 class="slider__subtitle">Lorem ipsum dolor sit.</h3>
    <span class="slider__under-subtitle">Lorem ipsum dolor sit amet.</span>
  </div>
</section>