<section class="work">
  <div class="main-title">
    <h3 class="main-title__topic">works</h3>
    <span class="main-title__heart main-title__heart--grey"><i class="icon-heart-empty"></i></span>
  </div>
  <p class="work__descr">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
  </p>
  <div class="work__list">
    <ul class="work__categories">
      <li class="work__category"><a class="active" href="#" data-filter="*">All</a></li>
      <li class="work__category"><a href="#" data-filter="">Branding</a></li>
      <li class="work__category"><a href="#" data-filter="">Web</a></li>
      <li class="work__category"><a href="#" data-filter="">Logo Design</a></li>
      <li class="work__category"><a href="#" data-filter="">Photography</a></li>
    </ul>
  </div>
  <div class="work__gallery">
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-1.jpg" alt="work - 1" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-2.jpg" alt="work - 2" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-3.jpg" alt="work - 3" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-4.jpg" alt="work - 4" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-5.jpg" alt="work - 5" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-6.jpg" alt="work - 6" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-7.jpg" alt="work - 7" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
    <div class="work__wrap-pic">
      <img class="work__gallery-pic" src="uploads/work-8.jpg" alt="work - 8" width="400" height="300">
      <a class="work__gallery-pic-link" href="#">Labore et dolore magnam <span>Photography</span></a>
    </div>
  </div>
</section>